<div class="table-wrapper">
  <tiny-grid class="{$class}" ref="{$id}Ref" v-bind="{$id}Op" {$attr|raw}>
    <template #toolbar>
      <tiny-grid-toolbar class="hidden" :id="{$id}ToolbarId" size="mini" :resizable="{ storage: 'local' }">
      </tiny-grid-toolbar>
    </template>
    <template #empty>
      {$emptyText|raw}
    </template>
    {foreach name="list" id="displayer" key="co"}
    <tiny-grid-column v-bind="{$id}Columns['{$co}']" :style="{$id}Columns['{$co}']['wrapperStyle']">
      <template #header="{column}">
        <div class="table-column-header">
          <strong v-if="{$id}Columns['{$co}'].params.required" title="{:__blang('bilder_this_field_is_required')}"
            class="field-required">*&nbsp;</strong>
          <span v-html="{$id}Columns['{$co}'].params.title_raw"></span>
        </div>
      </template>
      <template #default="{row, column, skip}">
        <div v-if="!skip && row && row.{$co}!==undefined" class="table-column-field"
          :class="[...row.__field_info__['{$co}'].matchClass, 'displayer-' + row.__field_info__['{$co}'].displayerType], {$id}Errors[row.__pk__]['{$co}']]">
          {:$displayer->render()}
        </div>
      </template>
    </tiny-grid-column>
    {/foreach}
    {if condition="$canDelete || $canAdd"}
    <tiny-grid-column title="{$actionRowText}" width="100" fixed="right" field="__action__">
      <template #default="{row, column, skip}">
        <div v-if="!skip && row && row.__pk__!==undefined">
          {if condition="$canDelete"}
          <template v-if="row.__pk__ !== '__add__'">
            <tiny-button v-if="row.__del__== 0" v-bind="{$id}DelBtnOp" @click="{$id}Delete(row)"
              :disabled="row.__can_delete__">
              <span class="action-delete" title="{:__blang('bilder_remove')}">
                <i class="mdi mdi-delete"></i>
              </span>
            </tiny-button>
            <tiny-button v-if="row.__del__== 1" v-bind="{$id}AddBtnOp" @click="{$id}Recover(row)"
              :disabled="row.__can_delete__">
              <span class="action-recover" title="{:__blang('bilder_recover')}">
                <i class="mdi mdi-restart"></i>
              </span>
            </tiny-button>
          </template>
          {/if}
          {if condition="$canAdd"}
          <tiny-button v-if="row.__pk__ == '__add__'" v-bind="{$id}AddBtnOp" @click="{$id}Add()">
            <span class="action-newone" title="{:__blang('bilder_new_one_item')}">
              <i class="mdi mdi-plus-circle-outline"></i>
            </span>
          </tiny-button>
          {/if}
        </div>
      </template>
    </tiny-grid-column>
    {/if}
  </tiny-grid>
</div>